<nav class="navbar has-shadow is-transparent is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:3000/main/">
        <img src="/images/fridge.svg" alt="failed to load images" width="80" height="150">
      </a>
    </div>
  
    <div id="main-navbar" class="navbar-menu">    
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-dark">
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
                <span>
                  로그인
                </span>
              </a>
            </p>
            <p class="control">
              <button class="button is-white" id= 'content-upload-modal-button' data-target="content-upload-modal">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>추가하기</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>