<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>밈장고</title>
        <script src="/buzzword/buzzword.js" type="module"></script>
        <link rel="stylesheet" href="/buzzword/buzzword.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <link rel="stylesheet" href="/footer/footer.css" />
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
        ></script>
        <script src="/nav/nav.js" type="module"></script>
        <link rel="stylesheet" href="/nav/nav.css" />
    </head>
    <body>
        <!-- navigation bar -->
        <div id="nav-placeholder"></div>

        <div class="buzzword-main-container">
            <div class="container is-widescreen">
                <h1 id="buzzword-intro">
                    AI가 추천해주는 유행어를 확인해보세요 ~_~
                </h1>
            </div>
            <div
                id="buzzword-content-container"
                class="container is-widescreen"
            >
                <div id="buzzword-container" class="box"></div>
            </div>

            <button class="button is-medium is-fullwidth" id="offset-button">
                더 보기
            </button>
        </div>
        <!-- footer -->
        <div id="footer-placeholder"></div>

        <script>
            $('#footer-placeholder').load('/footer/footer.html');
        </script>
    </body>
</html>
