<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>밈장고</title>

    <script src="main.js"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
    <link rel="stylesheet" href="../footer/footer.css"
    <script src="../nav/nav.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    
</head>
<body>
    <!-- navigation bar -->
    <div id="nav-placeholder"></div>
    <script>
        $(document).ready(function () {
            $('#nav-placeholder').load('../nav/nav.html');
        });
    </script>
    <!-- navigation bar --> 
    <h1>Hello</h1>
    
    <div id="content-continer" class="container is-max-widescreen">
        <div class="row">
            <div class="content">
                <img class="content-img" src="../images/pepe despair.jpg">
                <p>페페의 절규가 담겼습니다</p>
            </div>
            <div class="content">
                <img class="content-img" src="../images/pepe despair.jpg">
                <p>페페의 절규가 담겼습니다</p>
            </div>
            <div class="content">
                <img class="content-img" src="../images/pepe despair.jpg">
                <p>페페의 절규가 담겼습니다</p>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <img class="content-img" src="../images/sadpepe.png">
                <p>페페의 슬픔이 담겼군요</p>
            </div>
            <div class="content">
                <img class="content-img" src="../images/pepe despair.jpg">
                <p>페페의 절규가 담겼습니다</p>
            </div>
            <div class="content">
                <img class="content-img" src="../images/sadpepe.png">
                <p>페페의 슬픔이 담겼군요</p>
            </div>
        </div>
        <div class="row"></div>
    </div>


    <!-- footer -->
    <div id="footer-placeholder"></div>
    <script>
        $(function () {
            $('#footer-placeholder').load('../footer/footer.html');
        });
    </script>
</body>
</html>