.row {
    display: flex;
}

.container {
    margin-top: 100px;
}

.search-page-container {
    height: 100%;
    margin: auto;
}

#all-content-container {
    margin: auto;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    text-align: center;
    padding: 10px;
    margin-bottom: 1.5rem;
}

#all-content-title-box {
    width: 50vw;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

.content-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border: 1px solid #eeeeee;
    border-radius: 7px;
}

img {
    vertical-align: middle;
}
a {
    color: inherit;
}

.content-tags {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.content .content-tags .tag {
    color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px;
    background-color: #2e6b6a;
}
